form{
    width: 700px;
    background-color: #eaeaea;
    padding:10px 20px;
    margin: 0 auto;
    font-family: Verdana;
}

select{
    width: 700px;
    box-sizing:border-box;
    font-family: Verdana;
}

input{
    width: 700px;
    box-sizing: border-box;
    ime-mode: inactive;
    font-family: Verdana;
}

textarea{
    resize: vertical;
    height: 250px;
    width: 700px;
    box-sizing: border-box;
    ime-mode: inactive;
    font-family: Verdana;
}

.button{
    text-align:center;
}

.buttons{
    display:inline-block;
    background-color: silver;
}