/* toggle ~*/
:root {
  --light_border: solid 2px #767676;
  --shadow_border: solid 2px #212121;
  user-select: none; /* 選択を禁止する */
  /* font-family: Verdana; */
}

#selectFile{
  /* font-size: 112.6px; */
  /* font-weight: normal; */
  text-align: center;
  margin-top: 30px;
  padding: 1.5px 6px;
  border: solid 2px;
  background-color: silver;
  border-top : var(--light_border);
  border-left : var(--light_border);
  border-right : var(--shadow_border);
  border-bottom : var(--shadow_border);
}

form{
  width: 700px;
  background-color: #eaeaea;
  padding: 10px 20px;
  margin: 0 auto;
}

#select, #name, #regPattForURL, #script, #scripts{
  resize: none;
  width: 700px;
  box-sizing: border-box;
}

#select{
  height: 94px;
}

#name{
  height: 20px;
  font-family: Verdana;
}

#regPattForURL{
  height: 53px;
  font-family: Verdana;
}

#script{
  height: 237px;
  font-family: Verdana;
}

button{
  background-color: silver;
}

#scripts{
  height: 460px;
  font-family: Verdana;
}

/*#expand-btn, #expand-btn2{
  float: right;
  width: 100px;
  text-align: center;
  margin-top: 3px;
  padding: 0px 3px;
  background-color: silver;
  user-select: none;
  align-items: flex-end;
}

#expand-btn {
  display: inline-block;
  border-top : var(--light_border);
  border-left : var(--light_border);
  border-right : var(--shadow_border);
  border-bottom : var(--shadow_border);
}

#expand-btn2 {
  display: none;
  border-top : var(--shadow_border);
  border-left : var(--shadow_border);
  border-right : var(--light_border);
  border-bottom : var(--light_border);
}

#expand-toggle:checked ~ #expand-btn {
  display: none;
}
#expand-toggle:checked ~ #expand-btn2 {
  display: inline-block;
}

#expand-toggle:checked ~ .edit_mode {
  display: none;
}

#expand-toggle:checked ~ .impexp_mode {
  display: inline-block;
}
/*~ toggle */

